{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
</head>
<body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about">About Me</a>
      <a href="/work">My Work</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="container">
      <header class="header">
        <h1>Contact Me</h1>
      </header>

      <section class="contact-info">
        <h2>Reach Out</h2>
        <p>Thank you for visiting my portfolio. I am always looking for new opportunities and collaborations. Feel free to contact me about work opportunities or any other inquiries.</p>
        <ul>
          <li>Email (University): <a href="mailto:Jmthmps7@memphis.edu">Jmthmps7@memphis.edu</a></li>
          <li>Email (Personal): <a href="mailto:Jordan.T1620@gmail.com">Jordan.T1620@gmail.com</a></li>
          <li>Phone: (626)272-XXXX</li>
        </ul>
      </section>
    </div>

    <footer class="footer">
      <p>I look forward to hearing from you!</p>
    </footer>
</body>
</html>
